@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind component;

* { font-family: 'Montserrat', sans-serif; }

@tailwind utilities;

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.progress-width {
  
  -webkit-animation: progressBar 2s ease-in-out;
  -webkit-animation-fill-mode:both; 
  -moz-animation: progressBar 2s ease-in-out;
  -moz-animation-fill-mode:both; 
}