@tailwind base;

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  src: url('assets/fonts/Montserrat-Bold.ttf') format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  src: url('assets/fonts/Montserrat-SemiBold.ttf') format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url('assets/fonts/Montserrat-Light.ttf') format("truetype");
}

@tailwind component;
@tailwind utilities;

@-webkit-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

@-moz-keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}

.progress-width {
  -webkit-animation: progressBar 2s ease-in-out;
  -webkit-animation-fill-mode:both; 
  -moz-animation: progressBar 2s ease-in-out;
  -moz-animation-fill-mode:both; 
}